<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express con EJS</title>

  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 10px;
      padding: 10px;
      align-items: center;
      justify-content: center;
      height: 70vh;
      background-color: #f5f5f5;
      flex-direction: column;
    }

    .card {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      width: 230px;
      margin: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .card img {
      padding: 30px;
      width: 100%;
      height: auto;
      border-bottom: 1px solid #eee;
    }



    .card-info {
      margin-top: 10px;
    }

    .card-info p {
      margin-bottom: 0px;
      margin-top: 15px;
    }

    .price {
      color: #e44d26;
      font-size: 1.5em;
      font-weight: bold;
    }

    button {
      background-color: #e44d26;
      color: #fff;
      border: none;
      padding: 10px 15px;
      font-size: 1em;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #333;
    }

    .productos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

    }


    .cantidad {
      margin: 15px;
      width: 50px;
      border-radius: 2px;
      text-align: center;
      border: 1px solid;

    }
  

    form  {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    form button {
      width: 250px;
      margin: 50px;
    }

    h1 {
      text-align: center;

    }


  </style>

</head>

<body>

  <h1>Lista de Artículos</h1>


  <form id="pedidoForm" action="/crear-pedido" method="post" enctype="application/x-www-form-urlencoded">
    <article class="productos">

      <% for (let i=0; i < articulos.length; i++) { %>

        <div class="card">
          <img
            src="https://uxwing.com/wp-content/themes/uxwing/download/logistics-shipping-delivery/search-product-icon.png"
            style="width: 50%">
          <div class="card-info">
            <label for="nombre">
              <input name="nombre" value="<%= articulos[i].nombre %>" type="hidden">
              <%= articulos[i].nombre %>
            </label>

            <label for="precio">
              <input name="precio" value="<%= articulos[i].precio %>" type="hidden" class="price">
              <p class="price">$<%= articulos[i].precio %>
              </p>
            </label>
          </div>

          <label for="cantidad">
            <span class="operation" data-operation="-">-</span>
            <input class="cantidad" name="cantidad" type="text" inputmode="numeric" pattern="[0-9]*" value="0">

            <span class="operation" data-operation="+">+</span>
          </label>

        </div>


        <% } %>
    </article>
    <button type="submit">Crear pedido</button>

  </form>




</body>

<script>document.addEventListener('DOMContentLoaded', function () {
  // Agrega clic al formulario (contenedor común)
  var pedidoForm = document.getElementById('pedidoForm');
  pedidoForm.addEventListener('click', function (event) {
    // Verifica si el clic fue en un elemento con la clase 'operation'
    if (event.target.classList.contains('operation')) {
      // Obtén la operación del atributo de datos
      var operation = event.target.dataset.operation;

      // Encuentra el campo de cantidad asociado al botón clicado
      var cantidadInput = event.target.closest('label').querySelector('.cantidad');

      // Obtén el valor actual del campo de cantidad
      var currentValue = parseInt(cantidadInput.value) || 0;

      // Realiza la operación correspondiente
      if (operation === '+') {
        cantidadInput.value = currentValue + 1;
      } else if (operation === '-' && currentValue > 0) {
        cantidadInput.value = currentValue - 1;
      }
    }
  });
});

</script>


</html>